.header {
  background-image: url('../images/cropped-sun.jpg');
  background-size: cover;
  min-height: 240px;
}

.header ul {
  display: flex;
  margin: 0;
  padding-top: 20px;
}

.header ul li {
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
}

.lang {
  font-size: 32px;
  position: absolute;
  right: 0px;
  margin: 5px;
}
