.footer {
  background-color: lightgrey; /*#2d2d2d*/;
  min-height: 120px;
  display: flex;

  /*
   * Sticky footer. Also see index.css.
   * https://codeconvey.com/make-responsive-sticky-footer-using-javascript/
   */
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
}

.footer section {
  margin: 10px;
  min-width: 75px;
}

.footer h1 {
  font-size: 24px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.contactList li {
  margin: 10px;
}

.icon {
  font-size: 24px;
  margin-bottom: -5px;
  margin-right: 5px;
}

.socialIcon {
  font-size: 42px;
}

/* Display as one line. */
.socialIcons {
  display: flex;
  list-style: none;
}

.whatsappIcon {
  composes: icon;
  color: green;
  margin-right: 3px;
}
