.footer {
  background-color: lightgrey; /*#2d2d2d*/;
  min-height: 120px;
  display: flex;

  /*
   * Sticky footer. Also see index.css.
   * https://codeconvey.com/make-responsive-sticky-footer-using-javascript/
   */
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
}


.footer section {
  flex-grow: 1;
  margin: 10px;
  min-width: 75px;
}

.footer h1 {
  font-size: 24px;
}

.footer section:first-child h1 {
  padding-left: 12px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.contactList li {
  margin: 10px;
}

.icon {
  font-size: 24px;
  margin-bottom: -5px;
  margin-right: 5px;
}

.socialIcon {
  font-size: 42px;
  color: black;
}

/* Display as one line. */
.socialIcons {
  display: flex;
  list-style: none;
  color: black;
}

.whatsappIcon {
  composes: icon;
  color: #17980E;
  margin-right: 3px;
}

.facebookIcon {
  composes: socialIcon;
  color: #3A5796;
}

/* Mobile */
@media only screen and (max-device-width: 600px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .socialIcons {
    margin-left: 33%;
  }
}
