.footer {
  background-color: lightgrey; /*#2d2d2d*/;
  min-height: 120px;
  padding-top: 17px;
  padding-bottom: 20px;

  /*
   * Sticky footer. Also see index.css.
   * https://codeconvey.com/make-responsive-sticky-footer-using-javascript/
   */
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
}

.contactList {
  list-style: none;
}

.contactList li {
  margin: 10px;
}

.icon {
  font-size: 24px;
  margin-bottom: -5px;
  margin-right: 5px;
}

.whatsappIcon {
  composes: icon;
  color: green;
  margin-right: 3px;
}
